<div class="col-md-7">
  <h1>Listing Schedules</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Route</th>
        <th>Bus Number</th>
        <th>Bus Type</th>
        <th>Fare</th>
        <th>Departure at</th>
        <th>Arrival at</th>
        <th>Day</th>
      </tr>
    </thead>

    <tbody>
      <% @schedules.each do |schedule| %>
        <% if schedule.route.present? && Bus.where(id: schedule.bus_number.to_i).present? %>
          <tr>
            
            <td><%= schedule.route.route_name %></td>
            
            <td><%= Bus.where(id: schedule.bus_number.to_i).pluck("registration_number")[0] %></td>

            <td><%= Bus.where(id: schedule.bus_number.to_i).pluck("bus_type")[0] %></td>
            
            <td><%= schedule.fare %></td>
            
            <td><%= schedule.departure_time.hour.to_s + ":" + schedule.departure_time.min.to_s %></td>
            
            <td><%= schedule.arrival_time.hour.to_s + ":" + schedule.arrival_time.min.to_s %></td>

            <td><% schedule.days.each do |day| %>
                <%= day.titleize %> 
              <% end %>
            </td>
            
            <% if can? :manage, schedule%>
              <td><%= link_to "Edit", "/agency/#{current_agency.id}/schedules/#{schedule.id}/edit", class: "btn btn-default" %></td>
              
              <td> <%= link_to "Delete", agency_schedule_path(current_agency, schedule), method: :delete, data: {confirm: "Are you sure? want to delete schedule"}, class: "btn btn-danger"  %> </td>
            <%end%>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  
  </table>
</div>


<% if can? :manage, Schedule%>
  <div class="col-md-2">
    <%= link_to "Add schedule", new_agency_schedule_path(current_agency), class: "btn btn-info" %>
  </div>
<% end %>