<header id="header">
  <div class="top-bar">
    <div class="container">
      <div class="row">
          <div class="input-group">
            <%= form_tag(schedules_search_schedules_path, method: "get") do %>
              <div class="row">
                <div class="col-lg-5">
                  <input id="from" type="text" placeholder="From" name="from" class="form-control">
                </div>
                <div class="col-lg-5">
                  <input id="to" type="text" placeholder="To" name="to" class="form-control">
                </div>
                <div class="col-lg-2">
                  <%= submit_tag "Search", class: "btn btn-default" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div><!--/.container-->
  </div><!--/.top-bar-->

  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="logo.gif" alt="Bus"></a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="active"><a href="/users/dashboard">Home</a></li>
            <li><a href="<%= reservations_index_path %>">Your Reservations</a></li>
            <li><a href="<%= welcome_services_path %>">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %></a>
              <ul class="dropdown-menu">
                <li><a href="<%= user_user_profile_path(current_user.id, current_user.user_profile.id) %>">View Profile</a></li>
                <li><a href=" <%= edit_user_user_profile_path(current_user.id, current_user.user_profile.id) %>">Edit Profile</a></li>
                <li><a href="<%= destroy_user_session_path %>">Sign out</a></li>
                <li><a href="#">Shortcodes</a></li>
              </ul>
            </li>  
          <% elsif agency_signed_in? %>
            <li class="active"><a href="/agencies/dashboard">Home</a></li>
            <li><a href="<%= agency_buses_path(current_agency.id) %>">Your Buses</a></li>
            <li><a href="<%= welcome_services_path %>">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_agency.email %> </a>
              <ul class="dropdown-menu">
                <li><a href="<%= agencies_dashboard_path %>">View Profile</a></li>
                <li><a href="<%= destroy_agency_session_path %>">Sign out</a></li>
                <li><a href="#">Shortcodes</a></li>
              </ul>
            </li>
          <% else %>  
            <li class="active"><a href="/">Home</a></li>
            <li><a href="<%= welcome_about_us_path %>">About Us</a></li>
            <li><a href="<%= welcome_services_path %>">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Sign up </a>
              <ul class="dropdown-menu">
                <li><a href="<%= new_agency_registration_path %>">Agency</a></li>
                <li><a href=" <%= new_user_registration_path %>">User</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Sign in </a>
              <ul class="dropdown-menu">
                <li><a href="<%= new_agency_session_path %>">Agency</a></li>
                <li><a href=" <%= new_user_session_path %>">User</a></li>
              </ul>
            </li>
          <% end %>
          <li><a href="#">Blog</a></li> 
          <li><a href="#">Contact</a></li>                        
        </ul>
      </div>
    </div><!--/.container-->
  </nav><!--/nav-->
</header>