<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="padding-top:10px">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="padding-left:5px">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
        <a class="btn btn-info" href="/users/dashboard">Onlilne Bus Reservation</a>
      <% elsif current_agency.present? %>
        <a class="navbar-brand btn-info" href="/agencies/dashboard">Onlilne Bus Reservation</a>
      <% else %>
        <a class="navbar-brand btn-info" href="/">Onlilne Bus Reservation</a>
      <% end %>
    </div>
    <div class="navbar-left" style="padding-left:5px">
      <%= form_tag(schedules_index_path, method: "get", class: "form-inline")  do %>
        <div class="form-group">
          <%= label_tag(:search, "From") %>
          <%= text_field_tag(:from, params[:from], class: "form-control") %>
        </div>
        <div class="form-group">
          <%= label_tag(:search, "To") %>
          <%= text_field_tag(:to, params[:to], class: "form-control") %>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Search Buses</button>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right" style="padding:5px">
        <% if current_user.present? %>
          <ul class="nav nav-pills">
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle btn-info" data-toggle="dropdown" href="#" role="button"  aria-haspopup="true" aria-expanded="false">
                <%= "#{current_user.email}" %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="btn btn-info"><%= link_to "View Profile", user_user_profile_path(current_user, current_user.user_profile) %></li>
                
                <li class="btn btn-info"><%= link_to "Edit profile", edit_user_user_profile_path(current_user,current_user.user_profile) %></li>
                
                <li class="btn btn-info"> <%= link_to "Sign out", destroy_user_session_path %></li>
                
                <li class="btn btn-danger"> <%= link_to "Delete Profile", user_user_profile_path(current_user, current_user.user_profile), method: :delete, data: {confirm: "Are You Sure? want to delete Profile"}%></li>
              </ul>
            </li>
          </ul>
          <% if current_user.sign_in_count == 1 %>
            <li class="h6"> Welcome </li>
          <% end %>

        <% elsif agency_signed_in?%>
          <ul class="nav nav-pills">
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle btn-info" data-toggle="dropdown" href="#" role="button"  aria-haspopup="true" aria-expanded="false">
                <%= "#{current_agency.email}" %> <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                <li class="btn btn-info"><%= link_to "View Profile", "#"%></li>
                
                <li class="btn btn-info"><%= link_to "Edit profile", "#" %></li>
                
                <li class="btn btn-info"> <%= link_to "Sign out", destroy_agency_session_path %></li> 
              </ul>
            </li>
          </ul>
        <% else %>
          <li class="btn btn-info btn-xs" style="margin-right:3px"><%= link_to "Sign in", welcome_sign_in_path %></li>
          <li class="btn btn-info btn-xs" ><%= link_to "Sign up", welcome_sign_up_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>