<%= form_for([current_user, @user_profile]) do |f| %>

  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% @user_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :f_name, "First Name" %>
    <%= f.text_field :f_name %>
  </div>

  <div class="filed">
    <%= f.label :l_name, "Last Name" %>
    <%= f.text_field :l_name %>    
  </div>

  <div class="field">
    <%= f.label :mobile_number, "mobile number" %>
    <%= f.text_field :mobile_number %>
  </div>


  <% my_date = Time.now %>
  <%= f.label :dob, "Date of Birth"%>
  <%= f.date_select(:dob, start_year: 1947, order: [:day, :month, :year]) %>

  <div class="field">
    <%= f.label :age, "Age" %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :gender, "Gender" %>
    <%= f.radio_button(:gender, "Female")%>
    <%= f.label :gender_Female, "Female" %>
    <%= f.radio_button(:gender, "Male")%>
    <%= f.label :gender_Male, "Male" %>
  </div>

  <div class="field">
    <%= f.label :country %></br>
    <%= f.country_select :country, priority: %w(IN), prompt: "Please select your Country"%>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= render partial: "state_select", locals: {parent_region: @user_profile.country} %>
  </div>

  <div class="field">
    <%= f.label :Address, "Address" %>
    <%= f.text_area :address %>
  </div>

  <%= f.submit class: "btn btn-info" %>
<% end %>



<script type="text/javascript">
  $(function() {
    return $('select#user_profile_country').change(function(event) {
      var country, select_wrapper, url;
      select_wrapper = $('#user_profile_state_wrapper');
      $('select', select_wrapper).attr('disabled', true);
      country = $(this).val();
      url = "/user_profiles/subregion_options?parent_region=" + country;
      return select_wrapper.load(url);
    });
  });
</script>    