<table id="table_<%= @reservation.id %>" class="table table-striped">
  <tbody>
    
    <tr style="padding:5px">
      <td style="padding-left:10px">Reservation Number</td>
      <td style="padding-left:10px"><%= @reservation.id %></td>
      <td style="padding-left:300px"><button id='close_<%= @reservation.id %>' class="btn btn-info btn-sm" >close</button> </td>
    </tr>

    <tr style="padding:10px">
      <td style="padding-left:10px">Total Reserved Seats</td>
      <td style="padding-left:10px"><%= @reservation.no_of_seats %></td>
    </tr>  
    <tr style="padding:10px">
      <td style="padding-left:10px">Total Amount of Fare</td>
      <td style="padding-left:10px"><%= @reservation.fare %></td>  
    </tr>

    <tr style="padding:10px">
      <td style="padding-left:10px">Date of Journey</td>
      <td style="padding-left:10px"><%= @reservation.journy_date %></td>
    </tr>
  </tbody>
</table>

  


<script type="text/javascript">
  $('#close_<%= @reservation.id %>').on('click', function(){
    $('#table_<%= @reservation.id %>').remove();
  });
</script>
    