<div class="row" >
  <div class="col-md-2"></div>  
  <div class="col-md-7">
    <div class="panel" style="background-color:#FFB2B2">  
      <% if @reservations.present? %>
        <table class="table table-condensed">
          <thead class=" color color-info">
            <tr>
              <th class="active">Reservation Number</th>
              <th class="active">Amount</th>
              <th class="active"></th>
            </tr>
          </thead>
          <% @reservations.each do |reservation| %>
            <% if reservation.present? %>
              <tbody>  
                <tr>
                  <td> <%= reservation.id %> </td>
                
                  <td> <%= reservation.fare %> Rs. </td>

                  <td> <%= link_to "view details", agency_schedule_reservation_path(reservation.schedule.agency_id, reservation.schedule_id, reservation.id), class: "btn btn-info", remote: true%> </td>
                </tr>
                <tr id="show_<%= reservation.id %>" ></tr>
              </tbody>
            <% end %>      
          <% end %>
        </table>
      <% else %>
        <%= "there are no reservations" %>
      <% end %>
    </div>
  </div>

  
</div>