<%= form_for([current_agency,@route]) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% @route.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :from_station %> </br>
    <%= f.select(:from_station, options_for_select([['Indore', "Indore"], ['Pune', "Pune"], ['Mumbai', "Mumbai"], ['Delhi', "Delhi"], ['Ujjain', "Ujjain"]]), {}, {class: "form-control"}) %>
  </div>

  <div class="input-group">
    <%= f.label :to_station %> </br>
    <%= f.select(:to_station, options_for_select([['Indore', "Indore"], ['Pune', "Pune"], ['Mumbai', "Mumbai"], ['Delhi', "Delhi"], ['Ujjain', "Ujjain"]]), {}, {class: "form-control"}) %>
  </div>

  <div class="field">
    <%= f.label :distance %><br>
    <%= f.number_field :distance %>
  </div>

  <%= f.submit class: "btn btn-info" %>
  <%= link_to "Back", agency_routes_path, class: "btn btn-info" %>

<% end %>