<%= form_for([current_agency, @bus]) do |f| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% @bus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="form-group">
    <label class="control-label">Bus Type</label>
      <div class="controls">
        <select>
          <option value="1">AC</option>
          <option value="2">Non-AC</option>
          <option value="3">Sleeper</option>
          <option value="3">AC-Sleeper</option>
          <option value="3">Non-AC-Sleeper</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :seats %><br>
    <%= f.number_field :seats %>
  </div>
  <div class="field">
    <%= f.label :fare %><br>
    <%= f.number_field :fare %>
  </div>
  <div class="field">
    <%= f.label :departure_time %><br>
    <%= f.time_select :departure_time %>
  </div>
  <div class="field">
    <%= f.label :arrival_time %><br>
    <%= f.time_select :arrival_time %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to "Back", agencies_dashboard_path, class: "btn btn-info" %>
<% end %>

