<%= form_for([current_agency, @bus]) do |f| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% @bus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :bus_type %> </br>
    <%= f.select(:bus_type, options_for_select([['AC', "AC"], ['NON-AC', "NON-AC"], ['AC-SLEEPER', "AC-SLEEPER"], ['NON-AC-SLEEPER', "NON-AC-SLEPPER"], ['VOLVO', "VOLVO"]]), {}, {class: "form-control"}) %>
  </div>

  <div class="field">
    <%= f.label :seats %><br>
    <%= f.number_field :seats %>
  </div>

  <div class="field">
    <%= f.label :Registration_Number %><br>
    <%= f.text_field :registration_number %>
  </div>

  <div class="field">
    <%= f.label :Upload_image %><br>
    <%= f.file_field :avatar, as: :file %>
  </div>

  <%= f.submit class: "btn btn-info" %>
  <%= link_to "Back", agency_buses_path, class: "btn btn-info" %>
  
<% end %>

