<div class="col-md-7">
  <h1>Listing Buses</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Bus type</th>
        <th>Seats</th>
        <th>Registration Number</th>
        <th>Bus Image</th>
      </tr>
    </thead>

    <tbody>
      <% if @buses.present? %>
        
        <% @buses.each do |bus| %>
        <tr align="center">
          <td><%= bus.bus_type %></td>

          <td><%= bus.seats %></td>
          
          <td><%= bus.registration_number %></td>
          
          <td> <%= image_tag(bus.avatar.url, size: "80x50")  %> </td>
          
          <td><%= link_to "Edit", "/agency/#{current_agency.id}/buses/#{bus.id}/edit", class: "btn btn-default" %></td>
          
          <td> <%= link_to "Delete", agency_bus_path(current_agency, bus), method: :delete, data: {confirm: "Are you sure? want to delete bus"}, class: "btn btn-danger"  %> </td>
        </tr>
        <% end %>
      <%else %>
        sdfkjsbdfhdsf
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-2">
  <%= link_to "Add Bus", new_agency_bus_path(current_agency), class: "btn btn-info" %>
</div>