<div class="col-md-7">
  <div class="panel" style="background-color:#C09F9F">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Bus type:</strong>
      <%= @bus.bus_type %>
    </p>

    <p>
      <strong>Seats:</strong>
      <%= @bus.seats %>
    </p>

    <p>
      <strong>Registration Number:</strong>
      <%= @bus.registration_number %>
    </p>

    <p>
      <strong>Bus Image:</strong>
    </p>
    <p>
      <%= image_tag(@bus.avatar.url, size: "400x300")  %>
    </p>  

    <%= link_to 'Edit', edit_agency_bus_path(current_agency, @bus), class: "btn btn-info"%>
    <%= link_to 'Back to Bus List', agency_buses_path, class: "btn btn-info" %>
  </div>
</div>