<p id="notice"><%= notice %></p>

<p>
  <strong>Bus type:</strong>
  <%= @bus.bus_type %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @bus.seats %>
</p>

<p>
  <strong>Fare:</strong>
  <%= @bus.fare %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @bus.departure_time %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @bus.arrival_time %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @bus.agency_id %>
</p>

<%= link_to 'Edit', edit_bus_path(@bus) %> |
<%= link_to 'Back', buses_path %>
