<!DOCTYPE html>
<html>
<head>
  <title>OnlineBusReservation</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
</head>


<body class="homepage">  
  <%= render "shared/header" %>
  <%= render "shared/flash_messages" %>
  <%= yield %>
  <%= render "shared/footer" %>
</body>
</html>
