<!DOCTYPE html>
<html>
<head>
  <title>OnlineBusReservation</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render "shared/header" %>
  <%= render "shared/flash_messages", flash: flash %>

</head>


<body style="background-color:#F8E6E0" >
  <%= yield %>
</body>
</html>
